/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  /* علشان نضمن انهم مش لزقين في الحرف خصوصا للهاتف */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */

.header {
  padding: 10px 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #349696;
}
.header i {
  color: #36b53c;
  font-size: 32px;
}

.header p {
  text-transform: capitalize;
  color: #349696;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header p {
    display: none;
  }
}

/* End Header */
/* Start Festival Page  */

.festival {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 52px);
  transition: visibility 0.5s;
}

.festival .container {
  position: relative;
  width: 500px;
  text-align: center;
  margin: 200px auto;
  z-index: 50;
  border: 2px solid #36b53c;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #349696;
  color: #fff;
}

.festival #festival-element {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 77px);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 45;
}

.festival #my-canvas {
  position: fixed;
  z-index: 46;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.festival .container span {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: -1px;
  right: -1px;
  background-color: #f46760;
  border-radius: 0px 15px 0px 10px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.festival .container span:hover {
  background-color: #f46731;
}

.festival .container h3 {
  margin: 0 0 20px;
  font-size: 40px;
}
.festival .container p {
  margin: 0;
  font-size: 25px;
}

@media (max-width: 767px) {
  .festival .container {
    width: 350px;
  }
  .festival .container h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .festival .container p {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .festival .container {
    margin: 120px auto;
    margin-bottom: 10px;
  }
}

/* End Festival Page  */

/* Start Start Page */
.train {
  height: calc(100vh - 92px);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.start .container {
  position: relative;
}

#choose-table {
  display: block;
  width: 250px;
  display: block;
  border: #349696 1px solid;
  margin: 20px auto;
  padding: 5px 10px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: 50px;
  outline: none;
  text-align: center;
  cursor: pointer;
}

.start .container button {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #349696;
  font-size: 50px;
  color: #36b53c;
  font-weight: bold;
  cursor: pointer;
  margin: 120px auto;
  transition: 0.3s;
}
.start .container button:hover {
  background-color: #ddd;
}

@media (max-width: 767px) {
  #choose-table {
    width: 200px;
    padding: 5px;
  }
}

@media (max-width: 991px) {
  .train.start .container button {
    width: 200px;
    height: 200px;
    margin: 50px auto;
  }
  #choose-table {
    top: 20px;
  }
}
/* End Start Page */

/* Start Cutdown */
.cutdown-page {
  display: none;
}
.cutdown-page .container {
  position: relative;
}

.cutdown-page .container span {
  display: block;
  border-radius: 50%;
  font-size: 450px;
  color: #36b53c;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .cutdown-page .container span {
    font-size: 250px;
  }
}
@media (max-width: 991px) {
  .cutdown-page .container span {
    font-size: 250px;
  }
}
@media (min-width: 992px) {
  .cutdown-page .container span {
    top: 30%;
  }
}

/* End Cutdown */

/* Start Play  */
.play {
  display: none;
}

.play .container {
  text-align: center;
  padding: 50px;
}
.play .container .word {
  border: 1px solid #349696;
  padding: 10px;
  background-color: #fff;
  color: #36b53c;
  font-weight: bold;
  width: 350px;
  margin: 50px auto;
  font-size: 24px;
  border-radius: 10px;
}

.play .container .answer {
  margin: 100px auto;
}
.play .container .answer span {
  display: inline-block;
  width: 150px;
  border: #349696 solid 1px;
  padding: 10px;
  font-size: 24px;
  margin-right: 30px;
  font-weight: bold;
}

.play .container .timer span {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .play .container .word {
    padding: 8px;
    width: 250px;
    font-size: 18px;
  }
  .play .container .answer {
    margin: 20px auto;
  }
  .play .container .answer span {
    width: 70px;
    margin-right: 15px;
  }
}

.play .current-result {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #349696 1px solid;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #36b53c;
}

.correct,
.wrong {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #349696 1px solid;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
}

.correct {
  background-color: #36b53c;
  border-color: #36b53c !important;
  color: white;
}
.wrong {
  background-color: #f46731;
  border-color: #f46731 !important;
  color: white;
}

@media (max-width: 991px) {
  .play .container {
    padding: 10px;
  }
  .play .container .word {
    padding: 5px;
    width: 250px;
    margin: 10px auto;
  }
  .play .container .answer {
    margin: 30px auto;
  }
  .play .container .answer span {
    width: 70px;
    margin-right: 15px;
  }
}

/* End Play  */

/* Start  Results */
.results {
  display: none;
}

.results .container table {
  margin: 0 auto;
  padding-top: 100px;
  /* transform: translateY(-50%); */
  font-size: 32px;
  text-align: center;
}

.results .container table thead {
  background-color: #349696;
  color: white;
}

.results .container table thead th {
  padding: 20px 30px;
  text-transform: capitalize;
}

.results .container table tbody td {
  padding: 15px 20px;
  font-weight: bold;
  background-color: white;
}

.results .container .main-page {
  display: block;
  width: 350px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #36b53c;
  padding: 20px;
  border-radius: 5px;
  font-size: 32px;
  cursor: pointer;
  margin: 50px auto;
}

@media (max-width: 767px) {
  .results .container table {
    font-size: 18px;
  }
  .results .container table thead th {
    padding: 10px;
    font-size: 14px;
  }
  .results .container table tbody td {
    padding: 10px;
    font-size: 16px;
  }
  .results .container .main-page {
    width: 200px;
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .results .container table {
    font-size: 24px;
    padding-top: 50px;
  }
  .results .container table thead th {
    padding: 10px;
  }
  .results .container table tbody td {
    padding: 10px;
  }
  .results .container .main-page {
    width: 250px;
    font-size: 22px;
  }
}
/* End  Results */

/* Start Top Results */

.top-results .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin: 0 auto;
}

.top-results table {
  box-shadow: 0 0 15px #00000029;
  margin-bottom: 20px;
}

.top-results table th {
  padding: 10px;
  background-color: #349696;
  color: #fff;
  font-size: 22px;
}

.top-results table td {
  padding: 10px;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 20px;
  color: #36b53c;
  font-weight: bold;
}

@media (max-width: 767px) {
  .top-results .container {
    gap: 0;
  }
  .top-results table {
    margin-bottom: 30px;
  }
  .top-results table th {
    padding: 8px;
    font-size: 18px;
  }
  .top-results table td {
    padding: 5px 8px;
    font-size: 16px;
  }
}

/* End Top Results */
